*{margin: 0px; padding: 0px;}

body{
    background-color: #eee;
    background-image: url(img/pic4.png);
    width:auto;
    }

.row{margin: 0px; padding: 0px;}
.small{font-size: 13px;}
.post-content{background-color: #FFF; box-shadow: 0px 0px 1px 0px #999; border-radius: 1px; padding: 10px;}
.post-content h4{font-weight: normal;}
.post-content img{width: 150px; height: 120px;}
.post-content .button{text-align: right; padding: 10px;}
.post-content .button .btn-info{border-radius: 0px; padding: 5px 25px 5px 25px;}


.admin-form{background-color: #FFF; padding: 0px; margin: 0px; box-shadow: 0px 0px 1px 0px #888;}
.admin-form-title{padding: 15px; text-align: center; font-size: 25px; background-color: #4682B4; color: #FFF; box-shadow: 0px 0px 1px 0px #888;}
.admin-form-body{padding: 15px;}
.admin-form-body .form-control{border-radius: 0px; padding: 20px 10px 20px 10px;}
.admin-form-body .btn-outline-primary{border-radius: 0px;}


.mae{
    height:500px;
    width:1000px;
    margin: auto;
    margin-top:200px;
}

.transp{
    background: rgba(0,0,0,0.65);
}

.e{
    height:500px;
    width:10%;
    color: blue;
    position: absolute;
    display: block;
}

.c{
        margin-right:0px;
    padding-right:0px;
        height:200px;
}

.d{
    width:800px;
    color: blue;

    float: right;
}

.b{
    margin-bottom:0px;
    padding-bottom:0px;
    margin-top:35px;
    height:265px;
    width:800px;
}

.rv{
    position: absolute;
    right:0px;
    top:0px;
    width:250px;
    height:100%;
    color: blue;
    background: white;
    float: right;
}

.r{
    position: absolute;
    right:0px;
    bottom:0px;
    width:100%;
    height:98%;
    color: red;
    background: white;
}

.v{
    width:100%;
}

.ss{
    font-size: xxx-large;
    color:red;
    margin-top: 70px;
}