<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <title>configuracoes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="mae">
        <div class="transp e">dsaa</div>
        <div class="transp d c">fffff</div>
        <div class="transp d b"></div>
    </div>

    <div class="r">dfgg</div>

    <script src="{% static 'ext.js' %}"></script>

</body>
</html>